<ion-header>
  <ion-toolbar>
    <ion-title>Coworking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tab-content col-sm-10 col-sm-offset-1 col-xs-12 js-view-dom-id-d2447489e047d7f16278fe99d1816349acafb86da2a7f0475d0e16cfc429789d snipcss-o6VCU">
    <style>
      h3.coworking {
        text-align: center;
        font-weight: bold;
      }
      img.coworking {
        border-radius: 20px;
        border: 2px solid gray;
      }
      .owl-carousel .owl-controls .owl-nav .owl-prev {
        top: 40%;
      }
      .owl-carousel .owl-controls .owl-nav .owl-next {
        top: 40%;
      }
      .related-content p {
        line-height: 1.2;
      }
      .related-content {
        min-height: 100px;
      }
    </style>
    <div class="margin-20px">
      <h2 class="encabezados">
        <i class="far fa-newspaper">
        </i>
        Salas de coworking - Egresados
      </h2>
      <div class="views-field views-field-title">
        <span class="field-content">
          <div class="col-sm-4 col-xs-12">
            <div class="related-wrap">
              <div class="img-wrap coworking">
                <img alt="" class="img-responsive coworking" src="https://egresados.udistrital.edu.co/sites/egresados/files/salas-coworking/sala_bacata.jpg" width="100%" height="auto">
              </div>
              <div class="related-content">
                <h3 class="encabezados coworking">
                  Sala Bacatá
                </h3>
                <br>
                <p>
                </p>
                <ion-item [routerLink]="['/pages/coworking', 'sala-bacata']" class="sub-menu pointer">
                  Obtener más información
                  <span class="visually-hidden">
                    Sala Bacatá
                  </span>
                </ion-item>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="views-field views-field-title">
        <span class="field-content">
          <div class="col-sm-4 col-xs-12">
            <div class="related-wrap">
              <div class="img-wrap coworking">
                <img alt="" class="img-responsive coworking" src="https://egresados.udistrital.edu.co/sites/egresados/files/salas-coworking/sala_monserrate.jpg" width="100%" height="auto">
              </div>
              <div class="related-content">
                <h3 class="encabezados coworking">
                  Sala Monserrate
                </h3>
                <br>
                <p>
                </p>
                <ion-item [routerLink]="['/pages/coworking', 'sala-monserrate']" class="sub-menu pointer">
                  Obtener más información
                  <span class="visually-hidden">
                    Sala Monserrate
                  </span>
                </ion-item>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="views-field views-field-title">
        <span class="field-content">
          <div class="col-sm-4 col-xs-12">
            <div class="related-wrap">
              <div class="img-wrap coworking">
                <img alt="" class="img-responsive coworking" src="https://egresados.udistrital.edu.co/sites/egresados/files/salas-coworking/sala_tequendama.jpg" width="100%" height="auto">
              </div>
              <div class="related-content">
                <h3 class="encabezados coworking">
                  Sala Tequendama
                </h3>
                <br>
                <p>
                </p>
                <ion-item [routerLink]="['/pages/coworking', 'sala-tequendama']" class="sub-menu pointer">
                  Obtener más información
                  <span class="visually-hidden">
                    Sala Tequendama
                  </span>
                </ion-item>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>

</ion-content>
