<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de eventos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="Inicio">
    <ion-card-header style="display: flex; justify-content: space-between;">
      <ion-card-title>Eventos</ion-card-title>
      <ion-button class="boton" type="submit" color="primary">Generar</ion-button>
      <!-- <ion-card-subtitle class="subtitulo">Datos de escuela media</ion-card-subtitle> -->
    </ion-card-header>

    <ion-grid>
      <ion-row style="border: none;">
        <ion-col style="border: none;">

          <!-- <ion-content class="ion-margin"> -->
            <ion-grid class="ion-margin">
              <ion-row>
                <ion-col color="dark">#</ion-col>
                <ion-col color="dark">Título</ion-col>
                <ion-col color="dark">Lugar</ion-col>
                <ion-col color="dark">Hora</ion-col>
                <ion-col color="dark">Invitados</ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  dgfsdfs
                </ion-col>
                <ion-col>
                  sdfsdf
                </ion-col>
                <ion-col>
                  sdfsdf
                </ion-col>
                <ion-col>
                  sdfsdf
                </ion-col>
                <ion-col>
                  sdfsdf
                </ion-col>
              </ion-row>
            </ion-grid>
          <!-- </ion-content> -->

          <!-- <table>
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Favorite Color</th>
                <th>Wars or Trek?</th>
                <th>Nick Name</th>
                <th>Date of Birth</th>
                <th>Dream Vacation City</th>
                <th>GPA</th>
                <th>Arbitrary Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
                <td>Digby Green</td>
                <td>January 13, 1979</td>
                <td>Gotham City</td>
                <td>3.1</td>
                <td>Toyota</td>
              </tr>
            </tbody>
          </table> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>