<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de eventos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow: inherit;">
  <!-- <ion-card class="Inicio">
    <ion-card-header style="display: flex; justify-content: space-between;">
      <ion-card-title>Eventos</ion-card-title>
      <ion-button class="boton" type="submit" color="primary" (click)="openEventModal()">
        Nuevo evento
      </ion-button>
    </ion-card-header>

    <ion-grid>
      <ion-row style="border: none;">
        <ion-col style="border: none;">

          <ion-grid class="ion-margin">
            <ion-row style="color: black">
              <ion-col color="dark" size="1">#</ion-col>
              <ion-col color="dark">Título</ion-col>
              <ion-col color="dark">Lugar</ion-col>
              <ion-col color="dark">Fecha / Hora</ion-col>
              <ion-col color="dark">Invitados</ion-col>
              <ion-col color="dark">Acciones</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="1">1</ion-col>
              <ion-col>
                Integración equipo de trabajo egresados
              </ion-col>
              <ion-col>
                Coworking monserrate
              </ion-col>
              <ion-col>
                2022/05/21 12:00pm
              </ion-col>
              <ion-col>
                Contratistas programa de egresados
              </ion-col>
              <ion-col style="display: flex; justify-content: center; align-items:center;">
                <ion-button color="warning">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">2</ion-col>
              <ion-col>
                Integración equipo de trabajo egresados
              </ion-col>
              <ion-col>
                Coworking monserrate
              </ion-col>
              <ion-col>
                2022/05/21 12:00pm
              </ion-col>
              <ion-col>
                Contratistas programa de egresados
              </ion-col>
              <ion-col style="display: flex; justify-content: center; align-items:center;">
                <ion-button color="warning">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">3</ion-col>
              <ion-col>
                Integración equipo de trabajo egresados
              </ion-col>
              <ion-col>
                Coworking monserrate
              </ion-col>
              <ion-col>
                2022/05/21 12:00pm
              </ion-col>
              <ion-col>
                Contratistas programa de egresados
              </ion-col>
              <ion-col style="display: flex; justify-content: center; align-items:center;">
                <ion-button color="warning">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->


  <ion-header style="margin-right: 4rem; margin-left: 2rem;" [translucent]="false">
    <ion-toolbar style="display: flex; justify-content: space-between; margin-top: 2rem;">
      <ion-title style="float:left;">
        Eventos
      </ion-title>

      <ion-button style="float: right; margin-right: 7rem;" class="boton" type="submit" color="primary" (click)="openEventModal()">
        Nuevo evento
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="false" class="scrollTable" style="overflow: inherit;">
    <ngx-datatable class="eventTable" [sorts]="[{prop: 'Id', dir: 'desc'}]" style="overflow: inherit;" style="margin: 2rem; padding: 2rem;" [columnMode]="'force'" class="material" [limit]="7" [rows]="rows" [rowHeight]="60" [headerHeight]="60" [footerHeight]="60" [sortable]="true">
      <ngx-datatable-column name="Id"></ngx-datatable-column>
      <ngx-datatable-column name="Descripcion"></ngx-datatable-column>
      <ngx-datatable-column name="Inicio"></ngx-datatable-column>
      <ngx-datatable-column name="Fin"></ngx-datatable-column>
      <ngx-datatable-column name="Lugar"></ngx-datatable-column>
      <ngx-datatable-column name="test" [resizeable]="false">
        <ng-template ngx-datatable-header-template></ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
          <!-- (click)="open(row)" -->
          <!-- <button ion-button small outline color="light">
            Detalles
          </button> -->
          <ion-button color="warning" (click)="openEventModal(row)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <!-- <ion-col style="display: flex; justify-content: center; align-items:center;">
      <ion-button color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-col> -->
  </ion-content>

</ion-content>