<ion-grid class="ion-align-items-center" style="overflow-x: auto !important;">

  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center">
        <h3>Datos basicos</h3>
        Para continuar debe ingresar sus datos basicos
      </div>
    </ion-col>
  </ion-row>

  <form #basicUserDataForm="ngForm" (ngSubmit)="createTercero(basicUserDataForm)">
    <ion-row class="ion-justify-content-center ion-padding-horizontal">
      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Primer nombre</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input id="PrimerNombre" name="PrimerNombre" #PrimerNombre="ngModel" [(ngModel)]="selectedBasicUserData.PrimerNombre" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Segundo nombre</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input id="SegundoNombre" name="SegundoNombre" #SegundoNombre="ngModel" [(ngModel)]="selectedBasicUserData.SegundoNombre" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Primer apellido</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input id="PrimerApellido" name="PrimerApellido" #PrimerApellido="ngModel" [(ngModel)]="selectedBasicUserData.PrimerApellido" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Segundo apellido</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input id="SegundoApellido" name="SegundoApellido" #SegundoApellido="ngModel" [(ngModel)]="selectedBasicUserData.SegundoApellido" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Tipo de documento</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <!-- interface="popover" -->
          <ion-select interface="action-sheet" id="TipoDocumentoId" name="TipoDocumentoId" #TipoDocumentoId="ngModel" [(ngModel)]="selectedBasicUserData.TipoDocumentoId">
            <ion-select-option *ngFor="let documentType of documentTypes" value="{{documentType.Id}}">{{documentType.Nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">No. documento</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input minlength="8" maxlength="15" autocomplete="cc-number" type="number" id="Numero" name="Numero" #Numero="ngModel" [(ngModel)]="selectedBasicUserData.Numero" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Fecha expedición documento</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-input type="date" id="FechaExpedicion" name="FechaExpedicion" #FechaExpedicion="ngModel" [(ngModel)]="selectedBasicUserData.FechaExpedicion" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Tipo de contribuyente</ion-label>
          <!-- <ion-icon slot="start" name="calendar-outline"></ion-icon> -->
          <ion-select interface="popover" placeholder="Selecciona uno..." id="TipoContribuyenteId" name="TipoContribuyenteId" #TipoContribuyenteId="ngModel" [(ngModel)]="selectedBasicUserData.TipoContribuyenteId">
            <ion-select-option value="1">Persona natural</ion-select-option>
            <ion-select-option value="2">Persona juridica</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="12">
        <ion-button color="primary" type="submit">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-grid>