<div class="login-container">
  <div class="login-header">
    <img src="{{basePathAssets + 'logotipos_aplicativos_svg/ud.svg'}}" class="header-login" alt="logo-udistrital">
  </div>

  <div class="login">
    <span class="titleApp">
      SIGE
    </span>
    <h1>Sistema de información y gestión para el egresado</h1>
    <button *ngIf="!isloading" class="button" (click)="login()">Iniciar Sesión </button>
    <span class="auth">Al ingresar y usar la app autorizas el tratamiento de tus datos personales
      <p>
        <a href="//www.udistrital.edu.co/">Universidad Distrital
          Francisco José de Caldas</a> PBX: 3239300. Todos los derechos
        reservados ©. .:: <a href="/appserv/terminos_y_condiciones.pdf">Términos,
          condiciones de uso y política de privacidad</a> ::..
      </p>
    </span>
  </div>
</div>
