<div class="login-container">
  <div class="login-header">
    <img src="{{basePathAssets + 'logotipos_aplicativos_svg/ud.svg'}}" class="header-login" alt="logo-udistrital">
  </div>

  <div class="login">
    <span class="titleApp">
      SISE
    </span>
    <h1>Sistema de información y seguimiento del el egresado</h1>
    <button *ngIf="!isloading" class="button" (click)="login()">Iniciar Sesión </button>
  </div>

  <div class="footer-login">
    <div class="credit">
      <p>By <a href="https://www.ahoratec.com/devs/oscarvargas" target="_blank">Oscar Vargas</a> | Programa de egresados 💡</p>
    </div>
  </div>

</div>
