<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>



        <!-- <ion-item>
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          Actualizar Informacion
          <ion-icon slot="end"></ion-icon>
        </ion-item> -->

        <ion-item (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1" class="pointer">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          Actualizar Informacion
          <ion-icon slot="end" [name]="isRemainder? 'arrow-down' : 'arrow-forward'"></ion-icon>
        </ion-item>

        <ion-menu-toggle>
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/info-personal']" menuClose class="sub-menu pointer">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              Informacion Personal
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/info-academica']" menuClose class="sub-menu pointer">
              <ion-icon name="school-outline" slot="start"></ion-icon>
              Informacion Academica
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/info-laboral']" menuClose class="sub-menu pointer">
              <ion-icon name="briefcase-outline" slot="start"></ion-icon>
              Informacion Laboral
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/info-empresarial']" menuClose class="sub-menu pointer">
              <ion-icon name="business-outline" slot="start"></ion-icon>
              Informacion Empresarial
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer" [routerLink]="['/inscripcionaeventos']">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            Inscripción a eventos
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer" [routerLink]="['/creacioneventos']">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            Eventos
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer">
            <ion-icon name="map-outline" slot="start"></ion-icon>
            <ion-label>Contactar Egresado</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer">
            <ion-icon slot="start" src='data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
       <g>
         <g>
           <path d="M469.333,76.8H42.667C19.103,76.8,0,95.903,0,119.467v273.067C0,416.098,19.103,435.2,42.667,435.2h426.667
             c23.564,0,42.667-19.102,42.667-42.667V119.467C512,95.903,492.898,76.8,469.333,76.8z M494.933,392.533
             c0,14.138-11.461,25.6-25.6,25.6H42.667c-14.138,0-25.6-11.462-25.6-25.6V119.467c0-14.138,11.462-25.6,25.6-25.6h426.667
             c14.138,0,25.6,11.461,25.6,25.6V392.533z"/>
         </g>
       </g>
       <g>
         <g>
           <path d="M435.2,119.467H281.6c-18.851,0-34.133,15.282-34.133,34.133v204.8c-0.058,0.938-0.058,1.878,0,2.816
             c-0.017,0.313-0.017,0.626,0,0.939c1.922,17.372,16.656,30.485,34.133,30.379h153.6c17.477,0.106,32.211-13.007,34.133-30.379
             v-0.512c0-1.024,0-2.133,0-3.157V153.6C469.333,134.749,454.051,119.467,435.2,119.467z M451.755,362.325c0,0.512,0,1.024,0,1.536
             c0,0.512,0,0.939-0.597,1.451s0,0.939-0.597,1.365l-0.853,1.28l-0.768,1.195l-1.109,1.195l-0.939,1.024l-1.28,0.939l-1.109,0.768
             l-1.536,0.768l-1.109,0.512l-1.963,0.512h-1.024c-1.198,0.332-2.428,0.532-3.669,0.597H281.6c-1.05,0.098-2.107,0.098-3.157,0
             l-2.475-0.683c-6.146-2.085-10.578-7.476-11.435-13.909c2.303-35.815,24.826-67.182,58.027-80.811
             c0.939,0.597,1.963,0.939,2.901,1.536l4.011,2.048l4.181,1.707c1.877,0.768,3.755,1.451,5.632,1.963h1.707
             c11.325,3.212,23.32,3.212,34.645,0h1.365c2.048-0.597,4.011-1.28,5.973-2.048l3.925-1.621l4.181-2.219
             c0.939-0.512,1.877-0.939,2.816-1.451c33.334,13.527,56.004,44.915,58.368,80.811
             C452.267,361.301,452.267,361.813,451.755,362.325z M307.2,221.867c-0.023-28.277,22.882-51.218,51.159-51.241
             s51.218,22.882,51.241,51.159c0.013,16.614-8.036,32.202-21.589,41.81c-13.129,9.173-29.763,11.756-45.056,6.997
             c-5.067-1.556-9.85-3.919-14.165-6.997C315.259,254.003,307.213,238.452,307.2,221.867z M452.267,307.883
             c-10.565-17.117-25.696-30.947-43.691-39.936c25.59-27.688,23.89-70.878-3.798-96.469c-27.688-25.59-70.878-23.89-96.469,3.798
             c-24.178,26.159-24.178,66.512,0,92.671c-17.961,9.071-33.098,22.881-43.776,39.936V153.6c0-9.426,7.641-17.067,17.067-17.067
             h153.6c9.426,0,17.067,7.641,17.067,17.067V307.883z"/>
         </g>
       </g>
       <g>
         <g>
           <path d="M213.333,145.067H51.2c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.82,8.533,8.533,8.533h162.133
             c4.713,0,8.533-3.821,8.533-8.533C221.867,148.887,218.046,145.067,213.333,145.067z"/>
         </g>
       </g>
       <g>
         <g>
           <path d="M213.333,179.2H51.2c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h162.133c4.713,0,8.533-3.82,8.533-8.533
             S218.046,179.2,213.333,179.2z"/>
         </g>
       </g>
       <g>
         <g>
           <path d="M213.333,213.333H51.2c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h162.133c4.713,0,8.533-3.82,8.533-8.533
             S218.046,213.333,213.333,213.333z"/>
         </g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       </svg>
       '></ion-icon>
            <!--           <ion-icon slot="icon-only" src="assets/carnet-de-identidad.svg"></ion-icon> -->
            <!-- <ion-icon name="custom-carnet"  slot ="start"></ion-icon>   -->
            <ion-label>Carnet virtual</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-footer>
        <ion-button class="boton-cerrar" slot="start" (click)="logout()">Cerrar Sesion</ion-button>
      </ion-footer>


    </ion-content>


  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>