<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item routerLink="pages/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1" class="pointer">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          Actualizar Información
          <ion-icon slot="end" [name]="isRemainder? 'arrow-down' : 'arrow-forward'"></ion-icon>
        </ion-item>

        <ion-menu-toggle>
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['pages/info-personal']" menuClose class="sub-menu pointer">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              Personal
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['pages/info-academica']" menuClose class="sub-menu pointer">
              <ion-icon name="school-outline" slot="start"></ion-icon>
              Academica
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['pages/info-laboral']" menuClose class="sub-menu pointer">
              <ion-icon name="briefcase-outline" slot="start"></ion-icon>
              Laboral
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['pages/info-empresarial']" menuClose class="sub-menu pointer">
              <ion-icon name="bulb-outline" slot="start"></ion-icon>
              Emprendimiento
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['pages/info-students']" menuClose class="sub-menu pointer">
              <ion-icon name="school-outline" slot="start"></ion-icon>
              Estudiantes
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer" [routerLink]="['pages/creacioneventos']">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            Eventos
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer" [routerLink]="['pages/coworking']">
            <ion-icon name="storefront-outline" slot="start"></ion-icon>
            Coworking
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="pointer" [routerLink]="['pages/gestion-empresarial']">
            <ion-icon name="business-outline" slot="start"></ion-icon>
            Gestión Empresarial
          </ion-item>
        </ion-menu-toggle>

        <a href="assets/docs/services_portfolio.pdf" class="sidebarItemAnchor">
          <ion-item class="pointer">
            <ion-icon name="briefcase-outline" slot="start"></ion-icon>
            Portafolio de servicios
          </ion-item>
        </a>

      </ion-list>

      <ion-footer>
        <ion-button size="small" class="boton-cerrar" slot="start" (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-footer>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
