<ion-button style="position: absolute; top: 7px; right: 20px; border: none !important; z-index:100;" type="button" (click)="dismissModal('modal-new-event')">
  <ion-icon name="close-outline" color="light"></ion-icon>
</ion-button>

<ion-grid class="ion-align-items-center" style="overflow-x: auto !important;">

  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center">
        <h3>
          <span *ngIf="eventRow; else elseNew">Editar</span>

          <ng-template #elseNew>
            Nuevo
          </ng-template>
          evento
        </h3>
        Ingresa la información para promover un nuevo evento
      </div>
    </ion-col>
  </ion-row>

  <form #newEventForm="ngForm" (ngSubmit)="submitEvent(newEventForm)">
    <!-- <ion-input *ngIf="eventRow.Id;" hidden type="text" id="Id" name="Id" #Id="ngModel"  required [(ngModel)]="selectedEvent.Id" class="border-0 border-none"></ion-input> -->

    <ion-row class="ion-justify-content-center ion-padding-horizontal">

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" id="Nombre" name="Nombre" #Nombre="ngModel" required [(ngModel)]="selectedEvent.Nombre" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input type="text" id="Descripcion" name="Descripcion" #Descripcion="ngModel" required [(ngModel)]="selectedEvent.Descripcion" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" style="text-align: center;">
        <!-- <ion-label fixed style="width: 100%; margin-bottom: 1rem;">Inicia</ion-label> -->
        <ion-item lines="full">
          <ion-label position="floating">Inicio</ion-label>
          <ion-input type="datetime-local" id="FechaInicio" name="FechaInicio" #FechaInicio="ngModel" required [(ngModel)]="selectedEvent.FechaInicio" class="border-0 border-none"></ion-input>
          <!-- <ion-datetime displayFormat='YYYY-MM-DD HH:mm'  (tap)="init_worked_time()"
          pickerFormat='YYYY-MM-DD HH:mm' style="width: 100%; text-align: right;" id="FechaInicio" name="FechaInicio" #FechaInicio="ngModel" required [(ngModel)]="selectedEvent.FechaInicio"></ion-datetime> -->
        </ion-item>
      </ion-col>
      <!-- MMM DD, h:mm A -->

      <ion-col size="6" style="text-align: center;">
        <!-- <ion-label fixed style="width: 100%; margin-bottom: 1rem;">Termina</ion-label> -->
        <ion-item lines="full">
          <ion-label position="floating">Culminación</ion-label>
          <ion-input type="datetime-local" id="FechaFin" name="FechaFin" #FechaFin="ngModel" required [(ngModel)]="selectedEvent.FechaFin" class="border-0 border-none"></ion-input>
          <!-- <ion-datetime locale="es-CO"  displayFormat="MMM DD, h:mm A"  id="FechaFin" style="width: 100%; text-align: right;" name="FechaFin" #FechaFin="ngModel" required [(ngModel)]="selectedEvent.FechaFin"></ion-datetime> -->
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Lugar</ion-label>
          <!-- <ion-icon name="location-outline"></ion-icon> -->
          <ion-input type="text" id="Lugar" name="Lugar" #Lugar="ngModel" required [(ngModel)]="selectedEvent.Lugar" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Tipo</ion-label>
          <!-- <ion-icon slot="start" name="people-outline"></ion-icon> -->
          <ion-select interface="action-sheet" id="TipoSesion" name="TipoSesion" #TipoSesion="ngModel" required [(ngModel)]="selectedEvent.TipoSesion">
            <ion-select-option *ngFor="let tipoevento of tipoeventos" value="{{tipoevento.Id}}">{{tipoevento.Nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Invitados por rol</ion-label>
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-select interface="action-sheet" id="Invitados" name="Invitados" #Invitados="ngModel" required [(ngModel)]="selectedEvent.Invitados">
            <ion-select-option *ngFor="let rol of roles" value="{{rol}}">{{rol}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Invitados especificos</ion-label>
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <!-- item-content  -->
          <!-- (onChange)="specificGuestsChange($event)" -->
          <ionic-selectable item-content [isMultiple]="true" [canSearch]="true" id="InvitadosEspecificos" name="InvitadosEspecificos" #InvitadosEspecificos="ngModel" (onChange)="this.selectableUtils.specificGuestsChange($event)" required [(ngModel)]="selectedEvent.InvitadosEspecificos" [items]="terceros" itemValueField="Id" itemTextField="UsuarioWSO2" (onSearch)="this.selectableUtils.searchTerceros($event)">
          </ionic-selectable>
        </ion-item>
      </ion-col>

      <!-- <ion-item>
        <ion-label>Port</ion-label>
        <ionic-selectable
          item-content // Required for Ionic 3 only.
          required [(ngModel)]="port"
          [items]="ports"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item> -->
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="12">
        <ion-button *ngIf="eventRow; else elseNewSave" color="warning" type="submit">
          <ion-icon name="create-outline"></ion-icon> Editar
        </ion-button>

        <ng-template #elseNewSave>
          <ion-button color="success" type="submit">
            <ion-icon name="checkmark-done-outline"></ion-icon> Guardar
          </ion-button>
        </ng-template>

        <ion-button color="primary" type="submit" (click)="dismissModal('modal-new-event')">
          <ion-icon name="close-outline"></ion-icon> Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>