<ion-button style="position: absolute; top: 7px; right: 20px; border: none !important; z-index:100;" type="button" (click)="dismissModal('modal-new-event')">
  <ion-icon name="close-outline" color="light"></ion-icon>
</ion-button>

<ion-grid class="ion-align-items-center" style="overflow-x: auto !important;">

  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center">
        <h3>
          <span *ngIf="eventRow; else elseNew">Editar</span>

          <ng-template #elseNew>
            Nuevo
          </ng-template>
          evento
        </h3>
        Ingresa la información para promover un nuevo evento
      </div>
    </ion-col>
  </ion-row>

  <form #newEventForm="ngForm" (ngSubmit)="submitEvent(newEventForm)" enctype="multipart/form-data">
    <!-- <ion-input *ngIf="eventRow.Id;" hidden type="text" id="Id" name="Id" #Id="ngModel"  required [(ngModel)]="selectedEvent.Id" class="border-0 border-none"></ion-input> -->

    <ion-row class="ion-justify-content-center ion-padding-horizontal">

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" id="Nombre" name="Nombre" #Nombre="ngModel" required [(ngModel)]="selectedEvent.Nombre" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input type="text" id="Descripcion" name="Descripcion" #Descripcion="ngModel" required [(ngModel)]="selectedEvent.Descripcion" class="border-0 border-none"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" style="text-align: center;">
        <!-- <ion-label fixed style="width: 100%; margin-bottom: 1rem;">Inicia</ion-label> -->
        <ion-item lines="full">
          <ion-label position="floating">Inicio</ion-label>
          <ion-input type="datetime-local" id="FechaInicio" name="FechaInicio" #FechaInicio="ngModel" required [(ngModel)]="selectedEvent.FechaInicio" class="border-0 border-none"></ion-input>
          <!-- <ion-datetime displayFormat='YYYY-MM-DD HH:mm'  (tap)="init_worked_time()"
          pickerFormat='YYYY-MM-DD HH:mm' style="width: 100%; text-align: right;" id="FechaInicio" name="FechaInicio" #FechaInicio="ngModel" required [(ngModel)]="selectedEvent.FechaInicio"></ion-datetime> -->
        </ion-item>
      </ion-col>
      <!-- MMM DD, h:mm A -->

      <ion-col size="6" style="text-align: center;">
        <!-- <ion-label fixed style="width: 100%; margin-bottom: 1rem;">Termina</ion-label> -->
        <ion-item lines="full">
          <ion-label position="floating">Culminación</ion-label>
          <ion-input type="datetime-local" id="FechaFin" name="FechaFin" #FechaFin="ngModel" required [(ngModel)]="selectedEvent.FechaFin" class="border-0 border-none"></ion-input>
          <!-- <ion-datetime locale="es-CO"  displayFormat="MMM DD, h:mm A"  id="FechaFin" style="width: 100%; text-align: right;" name="FechaFin" #FechaFin="ngModel" required [(ngModel)]="selectedEvent.FechaFin"></ion-datetime> -->
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;">
        <label for="TipoLugar">Lugar</label>

        <input autocomplete="false" onfocus="this.value=''" onchange="this.blur();" id="TipoLugar" placeholder="Buscar y seleccionar..." list="TipoLugarDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarDataList">
          <ng-container *ngFor="let ubicacion of ubicacionesTiposLugar">
            <option *ngIf="![1,2,3,4].includes(ubicacion.Id)" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
          </ng-container>
        </datalist>
      </ion-col>

      <!-- <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '1'">
        <label for="TipoLugarPais">País</label>

        <input id="TipoLugarPais" placeholder="Buscar y seleccionar..." list="TipoLugarPaisDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarPaisDataList">
          <option *ngFor="let ubicacion of ubicacionesTiposLugar" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
        </datalist>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '2'">
        <label for="TipoLugarCiudad">Ciudad</label>

        <input id="TipoLugarCiudad" placeholder="Buscar y seleccionar..." list="TipoLugarCiudadDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarCiudadDataList">
          <option *ngFor="let ciudad of ciudadesTiposLugar" label="{{ciudad.Nombre}}" value="{{ciudad.Nombre}}" [attr.data-id]="ciudad.Id">
        </datalist>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '3'">
        <label for="TipoLugarLocalidad">Localidad</label>

        <input id="TipoLugarLocalidad" placeholder="Buscar y seleccionar..." list="TipoLugarLocalidadDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarLocalidadDataList">
          <option *ngFor="let ubicacion of ubicacionesTiposLugar" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
        </datalist>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '4'">
        <label for="TipoLugarDpto">Departamento</label>

        <input id="TipoLugarDpto" placeholder="Buscar y seleccionar..." list="TipoLugarDptoDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarDptoDataList">
          <option *ngFor="let ubicacion of ubicacionesTiposLugar" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
        </datalist>
      </ion-col> -->

      <!-- 
        <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '5'">
        <label for="TipoLugarMeet">Google Meet</label>

        <input id="TipoLugarMeet" placeholder="Buscar y seleccionar..." list="TipoLugarMeetDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarMeetDataList">
          <option *ngFor="let ubicacion of ubicacionesTiposLugar" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
        </datalist>
      </ion-col>
     -->

      <ion-col size="6" class="ion-margin-vertical" style="padding: 0.6rem;" [hidden]="selectedEvent.TipoLugar != '7'">
        <label for="TipoLugarDireccion">Dirección</label>

        <input id="TipoLugarDireccion" placeholder="Buscar o escribir la dirección" list="TipoLugarDireccionDataList" style="width: 100%; margin-top: 0.4rem;" (change)="validateEventPlace()">

        <datalist id="TipoLugarDireccionDataList">
          <option *ngFor="let ubicacion of ubicacionesTiposLugar" label="{{ubicacion.Nombre}}" value="{{ubicacion.Nombre}}" [attr.data-id]="ubicacion.Id">
        </datalist>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Tipo</ion-label>
          <!-- <ion-icon slot="start" name="people-outline"></ion-icon> -->
          <ion-select interface="action-sheet" id="TipoSesion" item-content name="TipoSesion" #TipoSesion="ngModel" required [(ngModel)]="selectedEvent.TipoSesion">
            <ion-select-option *ngFor="let tipoevento of tipoeventos" value="{{tipoevento.Id}}">{{tipoevento.Nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-vertical">
        <ion-item>
          <ion-label>Poster | Pieza Grafica</ion-label>
          <input type="file" id="Poster" name="Poster" required class="border-0 border-none" (change)="getPoster($event)" />
        </ion-item>
      </ion-col>

      <!-- <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Invitados por rol</ion-label>
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-select interface="action-sheet" id="Invitados" name="Invitados" #Invitados="ngModel" required [(ngModel)]="selectedEvent.Invitados">
            <ion-select-option *ngFor="let rol of roles" value="{{rol}}">{{rol}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-margin-vertical">
        <ion-item lines="full">
          <ion-label position="floating">Invitados especificos</ion-label>
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ionic-selectable item-content [isMultiple]="true" [canSearch]="true" id="InvitadosEspecificos" name="InvitadosEspecificos" #InvitadosEspecificos="ngModel" (onChange)="this.selectableUtils.specificGuestsChange($event)" required [(ngModel)]="selectedEvent.InvitadosEspecificos" [items]="terceros" itemValueField="Id" itemTextField="UsuarioWSO2" (onSearch)="this.selectableUtils.searchIonSelectable($event,terceros,'UsuarioWSO2')">
          </ionic-selectable>
        </ion-item>
      </ion-col> -->
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="12">
        <ion-button *ngIf="eventRow; else elseNewSave" color="warning" type="submit">
          <ion-icon name="create-outline"></ion-icon> Editar
        </ion-button>

        <ng-template #elseNewSave>
          <ion-button color="success" type="submit">
            <ion-icon name="checkmark-done-outline"></ion-icon> Guardar
          </ion-button>
        </ng-template>

        <ion-button color="primary" type="button" (click)="dismissModal('modal-new-event')">
          <ion-icon name="close-outline"></ion-icon> Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>