<ion-header>
  <ion-toolbar>
    <ion-title>Informacion laboral</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="Inicio">
    <ion-card-header>
      <!-- <ion-avatar>
        <img src="./assets/avatar.png">
      </ion-avatar> -->


      <ion-card-title>Nombre del Egresado</ion-card-title>
      <ion-item>
        <ion-label>¿Esta trabajando actualmente?</ion-label>
        <ion-icon slot="start" name="help-outline"></ion-icon>
        <ion-select placeholder="Seleccionar" interface="popover">
          <ion-select-option value="p">Si</ion-select-option>
          <ion-select-option value="e">No</ion-select-option>

        </ion-select>
      </ion-item>
      <!-- <ion-card-subtitle class="subtitulo">Datos de desempleo</ion-card-subtitle> -->
    </ion-card-header>
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Razon</ion-label>
            <ion-input type="text" required></ion-input></ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Tiempo de desempleo</ion-label>
            <ion-input type="text" required></ion-input></ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Conocimiento de proteccion al cesante</ion-label>
            <ion-select placeholder="Seleccionar">
              <ion-select-option value="p">No los conoce</ion-select-option>
              <ion-select-option value="e">Si los conoce pero no recurre a ellos</ion-select-option>
              <ion-select-option value="m">Si los conoce y recurre a ellos</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
         
        </ion-col>
      </ion-row>
    </ion-grid> 
     -->

    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Datos de empleo</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Nombre de la empresa</ion-label>
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-input type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">NIT de la empresa</ion-label>
            <ion-icon slot="start" name="reader-outline"></ion-icon>
            <ion-input type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Tipo de empresa</ion-label>
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-select placeholder="Seleccionar" interface="popover">
              <ion-select-option value="p">Publica</ion-select-option>
              <ion-select-option value="e">Privada</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Ocupacion</ion-label>
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-select placeholder="Seleccionar" interface="popover">
              <ion-select-option value="p">Empleado(a)</ion-select-option>
              <ion-select-option value="e">Independiente</ion-select-option>
              <ion-select-option value="m">Pensionado(a)</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Tipo de contrato</ion-label>
            <ion-icon slot="start" name="receipt-outline"></ion-icon>
            <ion-select placeholder="Seleccionar" interface="popover">
              <ion-select-option value="p">Termino fijo</ion-select-option>
              <ion-select-option value="e">Ternimo indefinido</ion-select-option>
              <ion-select-option value="m">Hora labor</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sector economico</ion-label>
            <ion-icon slot="start" name="filter-outline"></ion-icon>
            <ion-select placeholder="Seleccionar" interface="popover">
              <!--  <ion-select-option value="m">Hora labor</ion-select-option>
              <ion-select-option value="m">Hora labor</ion-select-option>
              <ion-select-option value="m">Hora labor</ion-select-option>
              <ion-select-option value="m">Hora labor</ion-select-option>
              <ion-select-option value="m">Hora labor</ion-select-option> -->

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Fecha de ingreso</ion-label>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-input type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Rango salarial</ion-label>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-select placeholder="Seleccionar">
              <ion-select-option value="1">Mayor a 1 millon y menor a 2 millones</ion-select-option>
              <ion-select-option value="2">Mayor a 2 millones y menor a 3 millones</ion-select-option>
              <ion-select-option value="3">Mayor a 3 millones y menor a 5 millones</ion-select-option>
              <ion-select-option value="4">Mayor a 5 millones </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Datos de empleabilidad</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>

      <ion-col>
        <ion-item>
          <ion-label>El empleo actual satisface sus necesidades profesionales</ion-label>
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>El empleo actual satisface sus necesidades económicas
          </ion-label>
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>
      </ion-col>


      <ion-col>
        <ion-item>
          <ion-label>El empleo actual satisface sus promoción y desarrollo personal
          </ion-label>
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>
      </ion-col>


      <ion-col>
        <ion-item>
          <ion-label>El empleo actual se relaciona con su formación dada </ion-label>
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>

      </ion-col>
      <ion-col>

        <ion-item lines="full">
          <ion-label position="floating">Indique el nivel de satisfacción con su empleo actual
          </ion-label>
          <ion-icon slot="start" name="happy-outline"></ion-icon>

          <ion-range min="0" max="10" step="1" value="5" snaps color="primary" snaps="true" pin="true">
            <ion-icon slot="start" name="close-outline"></ion-icon>
            <ion-icon slot="end" name="checkmark-outline"></ion-icon>
          </ion-range>

        </ion-item>





      </ion-col>





      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">indique el nivel de correspondencia entre la formación dada y su empleo actual</ion-label>
          <ion-icon slot="start" name="options-outline"></ion-icon>

          <ion-range min="0" max="10" step="1" value="5" snaps color="primary" snaps="true" pin="true">
            <ion-icon slot="start" name="close-outline"></ion-icon>
            <ion-icon slot="end" name="checkmark-outline"></ion-icon>
          </ion-range>

        </ion-item>




      </ion-col>



    </ion-grid>


    <ion-button class="boton" [routerLink]="['/home']" type="submit" color="primary" expand="block">Actualizar Informacion</ion-button>




  </ion-card>
</ion-content>