.subtitulo{
    font-size: 250% 
}

.boton{
    margin-top:35px;
}
.Inicio{
    border-color: #f2f2f2;
    border-image: none;
    border-radius: 0px;
    border-style: solid;
    border-width: 10px 10px 20px;
    margin: 0 auto;
    min-height: 30px !important;
    min-width: 30px;
    padding: 35px 20px 20px;
    position: relative;
    width: 94%;
  }