<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>    
    <ion-button class = "boton-cerrar" slot="start" (click)="logout()">Cerrar Sesion</ion-button>
    
  </ion-toolbar>
</ion-header>




<ion-content fullscreen>
  <ion-card class="Inicio">
    <center>
      <ion-card-header>
        <ion-avatar>
          <img src="../assets/avatar.png">
        </ion-avatar>
        <ion-card-title>Nombre del Egresado</ion-card-title>
        <ion-card-subtitle class="subtitulo">Fecha ultima actualizacion: dd/mm/aaaa</ion-card-subtitle>
      </ion-card-header>
      <ion-button  slot="start" (click)="addPhotoToGallery()">Tomar o subir una foto</ion-button>
      
    </center>
  </ion-card> 
<ion-grid>
  <ion-row>
  <ion-col>
    <ion-card class="Inicio-derecha">
      <ion-card-title>Eventos</ion-card-title>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card class="Inicio-izquierda">
      <ion-card-title>Noticias</ion-card-title>
    </ion-card>

  </ion-col>

</ion-row>
</ion-grid>

 


</ion-content>


<ion-footer class=footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="logo-ud" src="../../../assets/icon/logo_horizontal_ud.png">
      </ion-col>
      <ion-col>
        <ion-item >
          <div >
            <span>Lunes a viernes </span>
            <span>8:00 am a 5:00 pm</span>
        </div>
          <ion-icon slot ="start" name="time-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item >
          <div >
            <span>Sistema de Informacion y Seguimiento al Egresado</span>
        </div>
          <ion-icon slot ="start" name="globe-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item >
          <div >
            <span>Cra. 8 # 40 - 78</span>
        </div>
          <ion-icon slot ="start" name="location-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
