#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.boton-cerrar {
  position: absolute;
  right: 5px;
}

.logo-ud {
  width: 200px; /* you can use % */
  height: auto;
}

.Inicio {
  border-color: #f2f2f2;
  border-image: none;
  border-radius: 30px;
  border-style: solid;
  border-width: 10px 10px 10px;
  margin: 0 auto;
  min-height: 100px !important;
  min-width: 100px;
  padding: 10px 10px 10px;
  position: relative;
  width: 94%;
}
.Inicio-derecha {
  border-color: #f2f2f2;
  border-image: none;
  border-radius: 30px;
  border-style: solid;
  border-width: 10px 10px 10px;
  margin: 0 auto;
  margin-left: 30px;
  min-height: 100px !important;
  min-width: 100px;
  padding: 10px 10px 190px;
  position: relative;
  width: 94%;
}
.Inicio-izquierda {
  border-color: #f2f2f2;
  border-image: none;
  border-radius: 30px;
  border-style: solid;
  border-width: 10px 10px 10px;
  margin: 0 auto;
  min-height: 100px !important;
  min-width: 100px;
  padding: 10px 10px 190px;
  position: relative;
  width: 94%;
}

ion-avatar img {
  width: 120px;
}

.footer {
  margin-top: 1rem;
  bottom: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  border-color: #3880ff;
  background-color: white;
}

.labelEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
