.wrapper {
  margin: 50px 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  position: relative;
}
.search .form-control {
  padding-right: 35px;
}
.search i {
  position: absolute;
  top: 50%;
  right: 10px;
  color: purple;
  transform: translateY(-50%);
}
.autocomplete-suggestions {
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-no-suggestion {
  padding: 5px 15px;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  color: #e60000;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
.price {
  border: 2px solid #e60000;
  border-radius: 50%;
  color: #e60000;
  display: flex;
  flex-direction: column;
  width: 6em;
  height: 6em;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.price__value {
  display: block;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}
.price__unit {
  font-size: 0.75em;
}
.map__wrap {
  margin-top: 50px;
}
.hidden {
  display: none;
}
